
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div id="wrapper" class="wrapper-content">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
        
			<ul class="nav-news-feed">
				<li><i class="fa fa-users icon2"></i><div><a href="#">Employé</a></div></li>
				<li>
					<i class="fa fa-calendar icon1 "></i>
					<div>
						<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Calendrier</a>
				   </div>
				   <ul class="collapse list-unstyled" id="pageSubmenu">
			
					<li>
						
						     <a href="#"  routerLink="/historiqueListConge">Historique de ses demandes </a>
					 
					</li>
					<li>
						<a href="#">Liste de tous les congés</a>
					</li>
				</ul>
			   </li>

				<li><i class="fa fa-list-alt icon4"></i><div><a href="#">Type Congé</a></div></li>
				<!-- <i class="fa fa-user icon3"></i> -->
				<!-- <li><i class="fa fa-comments icon4"></i><div><a href="#">Messages</a></div></li>
				<li><i class="fa fa-picture-o icon5"></i><div><a href="#">Images</a></div></li>
				<li><i class="fa fa-video-camera icon6"></i><div><a href="#">Videos</a></div></li> -->
			  </ul>
        </ul>
    </div>
	
    <button class="btn-menu  btn-toggle-menu" type="button">
		<i class="fa fa-bars"></i>
	</button>
	
</div>


<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-4 static">
            <div class="profile-card">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="user" class="profile-photo">
            	<h5><a href="#" class="text-white">Sarah Cruiz</a></h5>
            	<a href="#" class="text-white"><i class="fa fa-user"></i> 1,299 followers</a>
            </div>
            <ul class="nav-news-feed">
              <li><i class="fa fa-list-alt icon1"></i><div><a href="#">My Newsfeed</a></div></li>
              <li><i class="fa fa-users icon2"></i><div><a href="#">People Nearby</a></div></li>
              <li><i class="fa fa-user icon3"></i><div><a href="#">Friends</a></div></li>
              <li><i class="fa fa-comments icon4"></i><div><a href="#">Messages</a></div></li>
              <li><i class="fa fa-picture-o icon5"></i><div><a href="#">Images</a></div></li>
              <li><i class="fa fa-video-camera icon6"></i><div><a href="#">Videos</a></div></li>
            </ul>
            
	</div>
</div> -->