
<body>
	<img src="assets\unnamed.jpg" alt="">
	<div class="limiter">

        <div class="container-login100" >
            

			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Account Login
				</span>
				<form [formGroup]="loginForm" class="login100-form validate-form p-b-33 p-t-5"  (ngSubmit)="login()">

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
                        <input class="input100" type="text" name="username" placeholder="User name" formControlName="username">
                    
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                        <div *ngIf="username.touched && loginForm.get('username').invalid">
                            <small *ngIf="username.errors.required" class="text-danger">Required username</small>
                        </div>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="pass" placeholder="Password" formControlName="password">
                       
                        <div *ngIf="password.touched && loginForm.get('password').invalid">
                            <small *ngIf="password.errors.required" class="text-danger">Required password</small>
                        </div>
					</div>
					<div class="saa">
    
						<a  routerLink="password">
					  Forgot Password?
					  </a>
					  
					</div>
					<a  routerLink="password">
						Sign Up
						  </a>
					<div class="container-login100-form-btn m-t-32">
				
                        <button type="submit" class="login100-form-btn"[disabled]="loginForm.invalid" (click)

                        ="navigateToacceil()">Login</button>
					</div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	


</body>
