<!-- <app-navbar></app-navbar> -->

     <div class="pricing-header mx-auto">
      
       <div class="table-responsive">
       
        <!-- <h1>Listes des Types de congés</h1> -->
        <div class="container">
          <div class="row justify-content-center bg-light"  >
            <!-- style ="background-color :#74ebd5;" -->
            <h1 >Liste des types de congés</h1>
          </div>
        </div>
        <br>
        <a  *ngIf="authority === 'rh'" class="btn btn-sm btn-success text-white pull-right" (click)="addTypeConge()"><i class="fa fa-plus"></i>   Ajouter Type de congé </a>
<br/><br/>

<nav class="navbar navbar-light ">
  <form class="form-inline">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
      </div>
      <input class="form-control" type="text" name="search"
      [(ngModel)]="searchText" autocomplete="off" placeholder="Recherche ">
    </div>
  </form>
</nav>
        <table  class="table table-bordered table-striped table-hover" >
        <thead>
        <tr>
        <!-- <th scope="col">id_type</th> -->
        <th scope="col">Type_Conge</th>
        <th scope="col">max_permis</th>
        <!-- <th scope="col">cong_deja_pris</th>
        <th scope="col">cong_restant</th> -->
      
        <th  *ngIf="authority === 'rh'" class="text-center" scope="col">Modifier</th>
        <th  *ngIf="authority === 'rh'" class="text-center" scope="col">Supprimer</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of this.crudApi.listtypecon| filter:searchText| paginate: { itemsPerPage: count, currentPage: p }">
        <!-- <th>{{item.id_type}}</th> -->
        <td>{{item.type_conge}}</td>
        <td>{{item.max_permis}}</td>
        <!-- <td>{{item.cong_deja_pris}}</td>
        <td>{{item.cong_restant}}</td> -->
        

        <!-- <td><button class="btn btn-info" style="margin-left: 20px;" >
          <i class="fal fa-eye"></i></button></td> -->
       
          <td  *ngIf="authority === 'rh'"><button class="btn btn-warning" style="margin-left: 20px;" (click) = "selectData(item)">
            <i class="fa fa-pencil-square-o" ></i></button></td>
         <td *ngIf="authority === 'rh'"><button class="btn btn-danger" (click) = "removeData(item.id_type)">
            <i class="fa fa-trash-o"></i></button></td>
          
           </tr>
        
             </tbody>
             </table>
             
             </div>
             <div class="text-right">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
           </div>