<!-- main app container -->
<div class="card m-3">
    <h5 class="card-header">Modifier Profil</h5>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
    
                <div class="form-group col-5">
                    <label>Nom</label>
                    <input type="text" formControlName="nom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
                    <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                        <div *ngIf="f.nom.errors.required">Le champs nom est obligatoire</div>
                    </div>
                </div>
                <div class="form-group col-5">
                    <label>Prenom</label>
                    <input type="text" formControlName="prenom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }" />
                    <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
                        <div *ngIf="f.prenom.errors.required">Le champs prenom est obligatoire</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="mail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mail.errors }" />
                <div *ngIf="submitted && f.mail.errors" class="invalid-feedback">
                    <div *ngIf="f.mail.errors.required">Email est obligatoire</div>
                    <div *ngIf="f.mail.errors.mail">
                        L'email doit être une adresse  valide</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Numero de telephone</label>
                    <input type="number" formControlName="num_tel" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.num_tel.errors }" />
                    <div *ngIf="submitted && f.num_tel.errors" class="invalid-feedback">
                        <div *ngIf="f.num_tel.errors.required">Le champs numero de telephone est obligatoire</div>
                        <div *ngIf="f.num_tel.errors.minlength">Le champs numero de telephone doit avoir au moins 8 caractéres</div>
                    </div>
                </div>
               
            </div>
        
            <div class="text-center">
                <button class="btn btn-primary mr-1" (click)="updateProfil()">Envoyer</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Annuler</button>
            </div>
        </form>
    </div>
</div>

