



<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <div class="form-gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>You can reset your password here.</p>
                 
                  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group col">
                        <label>Username</label>
                        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">username is required</div>
                        </div>
                    </div>
                    
                        <!-- <div class="form-group col">
                            <label>Mot de passe</label>
                            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Le champs mot de passe est obligatoire</div>
                                <div *ngIf="f.password.errors.minlength">Le champs mot de passe doit avoir au moins 7 caracteres</div>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label>Confirmer le mot de passe</label>
                            <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required">Le champs confirmer le mot de passe est obligatoire</div>
                                <div *ngIf="f.confirmPassword.errors.mustMatch">le champs confirmer mot de passe doit correspondre au mot de passe que vous avez saisie</div>
                            </div>
                        </div> -->
                        
                          <div class="form-group col">
                              <label> Mot de passe</label>
                              <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                              <div *ngIf="f.password.touched && f.password.invalid">
                                  <small *ngIf="f.password.errors.required" class="text-danger">Le champs mot de passe est obligatoire</small>
                                  <small *ngIf="f.password.errors?.minlength" class="text-danger"> Le champs mot de passe doit avoir au moins 7 caractéres </small>
                              </div>
                             
                          </div>
                          <div class="form-group col">
                              <label>Confirmer le mot de passe</label>
                              <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                              <div *ngIf="f.confirmPassword.invalid && f.confirmPassword.touched ">
                                  <small *ngIf="f.confirmPassword.errors?.required" class="text-danger"> Le champs confirmer le mot de passe est obligatoire</small>
                                  <small *ngIf="f.confirmPassword.errors?.minlength" class="text-danger">Le champs mot de passe doit avoir au moins 7 caractéres</small>
                                  <small *ngIf="f.confirmPassword.errors?.mustMatch " class="text-danger"> le champs confirmer mot de passe doit correspondre au mot de passe que vous avez saisie </small>
                                 </div> 
                          
                          </div>
                    
                    <div class="text-center">
                          <button class="btn btn-primary mr-1" (click)="updatePassword()">Envoyer</button>
                        <button class="btn btn-secondary" type="reset" (click)="onReset()">Annuler</button>
                   </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>