<!-- main app container -->
<div class="card m-3">
    <h5 class="card-header">Changer le mot de passe</h5>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            {{registerForm.value | json}}
            {{registerForm.valid}}
            <div class="form-row">
                <div class="form-group col">
                    <label> Mot de passe</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="f.password.touched && f.password.invalid">
                        <small *ngIf="f.password.errors.required" class="text-danger">Le champs mot de passe est obligatoire</small>
                        <small *ngIf="f.password.errors?.minlength" class="text-danger"> Le champs mot de passe doit avoir au moins 7 caractéres </small>
                    </div>
                    <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Le champs mot de passe est obligatoire</div>
                        <div *ngIf="f.password.errors.minlength">Le champs mot de passe doit avoir au moins 7 caracteres</div>
                    </div> -->
                </div>
                <div class="form-group col">
                    <label>Confirmer le mot de passe</label>
                    <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="f.confirmPassword.invalid && f.confirmPassword.touched ">
                        <small *ngIf="f.confirmPassword.errors?.required" class="text-danger"> Le champs confirmer le mot de passe est obligatoire</small>
                        <small *ngIf="f.confirmPassword.errors?.minlength" class="text-danger">Le champs mot de passe doit avoir au moins 7 caractéres</small>
                        <small *ngIf="f.confirmPassword.errors?.mustMatch " class="text-danger"> le champs confirmer mot de passe doit correspondre au mot de passe que vous avez saisi </small>
                       </div> 
                    <!-- <div *ngIf="submitted && f.confirmPassword.errors " class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Le champs confirmer le mot de passe est obligatoire</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">le champs confirmer mot de passe doit correspondre au mot de passe que vous avez saisie</div>
                    </div> -->
                </div>
            </div>
          
            <div class="text-center">
                <button class="btn btn-success mr-1" type="submit" [disabled] ="!registerForm.valid"  (click)="updatePassword()">Envoyer</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Annuler</button>
            </div>
        </form>
    </div>
</div>
