<!-- <app-navbar></app-navbar> -->

<br/>
     <div class="pricing-header mx-auto">
       <div class="table-responsive">

        <div class="container">
          <div class="row justify-content-center bg-light"  >
            <!-- style ="background-color :#74ebd5;" -->
            <h1 >Historique de mes congés</h1>
          </div>
        </div>
        <br><br>
        <!-- <button class="btn btn-warning" style="margin-left: 25px;" (click) = "getData()">
            <i class="fa fa-pencil-square-o" ></i> Voir l'historique de ses propres demandes de congés </button> -->
        <a class="btn btn-sm btn-success text-white pull-left" (click)="addConge()"><i class="fa fa-plus"></i>   Ajouter un congé </a>
        
        <!-- <h1>Listes des congés</h1> -->
<br/>
<!-- <div class="search-hero" class="col-lg-12"> 
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for an employees by id or name ">
</div> -->



<nav class="navbar navbar-light " >
  <div class="col-md-3 ml-md-auto">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
      </div>
      <input class="form-control" type="text" name="search"
      [(ngModel)]="searchText" autocomplete="off" placeholder="Recherche ">
    </div>
  </div>
</nav>

<!-- <div class="col-lg-4">
  <div class="form-group">
      
      <div class="input-group">
          <input type="text" class="form-control"  [(ngModel)]="statut" (ngModelChange)="filtrer()"
                 placeholder="Search by typeconge" id="inputGroup"/>
          <span class="input-group-addon">
              <i class="fa fa-search"></i>
          </span>
      </div>
  </div>
</div> -->

        <table  class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
        <!-- <th scope="col">num</th> -->
        <th scope="col">Date debut</th>
        <th scope="col">Date fin</th>
        <th scope="col">Durée</th>
        <th scope="col">Statut</th>
        <th scope="col">Nom du salarié</th>
        <th scope="col">Type de congé</th>
        <th scope="col">Raison</th>
        <!-- <th scope="col">idsal</th>
        <th scope="col">Type congé</th> -->
        
        

       
        <th class="text-center" scope="col">Modifier</th>
        <th class="text-center" scope="col">Supprimer</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of this.listcon| filter:searchText | paginate: { itemsPerPage: count, currentPage: p }">
        <!-- <th>{{item.num}}</th> -->
        <td>{{item.date_debut| date:'yyyy-MM-dd'}}</td>
        <td>{{item.date_fin| date:'yyyy-MM-dd'}}</td>
        <th>{{item.duree}}</th>
        <td>{{item.statut}}</td>
        <td>{{item.salarie.username}}</td>
        <td>{{item.typeconge.type_conge}}</td>
        <td>{{item.commentaire}}</td>
          <td><button *ngIf="item.statut === 'en attente'" class="btn btn-warning" style="margin-left: 25px;" (click) = "selectData(item)">
            <i class="fa fa-pencil-square-o" ></i></button></td>
         <td><button *ngIf="item.statut === 'en attente'" class="btn btn-danger"  style="margin-left: 25px;" (click) = "removeData(item.num)">
            <i class="fa fa-trash-o"></i></button></td>
           </tr>
        
             </tbody>
            
             </table>
             </div>
             <div class="text-right">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
           </div>